//- Note Card Mixin Definition
mixin noteCard(_id, owner, tags, header, title, description, buttonText)
  .card.shadow-sm.mb-4
    if header
      .card-header.bg-primary.text-white= header
    .card-body
      h5.card-title= title
      h6.card-subtitle.mb-2.text-muted= owner
      p.card-text= description
      .d-flex.gap-1
        each tag in tags
          span.badge.bg-secondary= tag.name
        
      .d-flex.gap-1.mt-2.justify-content-end.btn-group.btn-group-sm
        a.btn.btn-primary(href="/notes/edit/" + _id) Edit
        a.btn.btn-danger(href="/notes/confirm-delete/"+_id) Delete
        if buttonText
          button.btn.btn-light(type="button")=buttonText  
