mixin noteCard(_id, owner, tags, title, description)
  .card.shadow-sm.mb-4
    .d-flex.gap-1.mt-2.justify-content-between.p-2
      div
        h5.m-0 #{title}
        span(style="font-size: 12px;").fw-medium.text-muted @#{owner.name}
      //- Dropdown menu
      .dropdown.dropdown-menu-end
        button.btn.btn-light.btn-sm(type="button" id="dropdownMenuButton-#{_id}" data-bs-toggle="dropdown" aria-expanded="false")
          i.fa.fa-ellipsis-h
          //- Dùng icon ba chấm để biểu thị tùy chọn
        ul.dropdown-menu(aria-labelledby="dropdownMenuButton-#{_id}")
          li
            a.dropdown-item(href="/notes/edit/" + _id) Edit
          li
            a.dropdown-item(href="/notes/confirm-delete/" + _id) Delete
          
    .card-body
      p.card-text=description
      //- Hiển thị tags
      .d-flex.gap-1
        each tag in tags
          span.badge.bg-secondary= tag.name
      div.mt-2.d-flex.justify-content-between.align-items-center
        //- Hiển thị thời gian tạo
        .text-muted
          small Created at #{new Date(_id.getTimestamp()).toLocaleString()}
        //- Xem chi tiết
        div
          a(href="/notes/details/" + _id, class="btn btn-sm btn-light") Details
